:root {
  font-size: 16px;
  --panel-bg: rgba(1, 1, 1, 0.567);
  --panel-h: rgba(56, 56, 56, 0.567);
  --panel-a: rgba(87, 87, 87, 0.567);
  --arrow-bg: rgba(192, 192, 192, 0.452);
  --arrow-h: rgba(192, 192, 192, 0.831);
  --arrow-a: rgb(255, 255, 255);
  --switcher-list-bg: rgb(42, 42, 42);
  --inactive: rgb(78, 78, 78);
}

/*
|------------------------------------------------------------
| Fonts
|------------------------------------------------------------
*/

html {
  font-family: 'Noto Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  color: white;
}

.material-symbols-rounded {
  color: white;
}

.logo:hover {
  text-shadow: 0 0 7px white;
}

.subtitle {
  font-weight: 400;
}

img {
  font-style: italic;
}

/*
|------------------------------------------------------------
| Universal reset
|------------------------------------------------------------
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-drag: none;
}

/*
|------------------------------------------------------------
| Customized CSS remedy
|------------------------------------------------------------
*/

::before,
::after {
  box-sizing: border-box;
}

button {
  outline: none;
}

html {
  line-sizing: normal;
}

[hidden] {
  display: none;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.67rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

pre {
  white-space: pre-wrap;
}

hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: inherit;
  height: 0;
  overflow: visible;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
}

picture {
  display: contents;
}

source {
  display: none;
}

img,
svg,
video,
canvas {
  height: auto;
}

audio {
  width: 100%;
}

img {
  border-style: none;
  background-repeat: no-repeat;
  background-size: cover;
}

svg {
  overflow: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

/*
|------------------------------------------------------------
| Utilities
|------------------------------------------------------------
*/

.fill-height {
  height: 100%;
}

.fill-width {
  width: 100%;
}

.h-fit {
  height: fit-content;
}

.w-fit {
  width: fit-content;
}

.flex-r {
  display: flex;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.f-al-cent {
  align-items: center;
}

.f-al-st {
  align-items: flex-start;
}

.f-al-end {
  align-items: flex-end;
}

.f-just-bet {
  justify-content: space-between;
}

.f-just-cent {
  justify-content: center;
}

.f-just-eve {
  justify-content: space-evenly;
}

.clip-overflow-y {
  overflow-y: clip;
}

.hide-overflow-y {
  overflow-y: hidden;
}

.min-w-fit {
  min-width: fit-content;
}

.pos-rel {
  position: relative;
}

.btn {
  cursor: pointer;
  outline: none;
  border: 1px solid white;
}

.side-panel {
  width: 64vw;
}

/* body::before {
  width: 1px;
  content: '';
  position: fixed;
  left: 50%;
  right: 0;
  height: 100%;
  background-color: red;
  z-index: 9999;
} */

/*
|------------------------------------------------------------
| Body
|------------------------------------------------------------
*/

body {
  min-height: 100vh;
  height: 100svh;
  background-image: url('../imgs/bg.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*
|------------------------------------------------------------
| Media queries
|------------------------------------------------------------
*/

/* @media only screen and (max-width: 600px) {
  :root {
      font-size: 12px;
  }
  .control-grid {
      display: flex;
      flex-direction: column;
  }
  .control4, .control5, .control6, .control7, .control8 {
      display: none;
  }
  .menu-container, .music-container {
      min-width: 88vw;
      width: 88svw;
      min-height: 80vh;
      height: 80svh;
  }
  .arrow {
      width: 4rem;
      height: 4rem;
  }
  .top, .bot {
      left: 44%;
  }
  .switcher-arrow {
      width: 3.2rem;
      height: 3.2rem;
  }
}

@media only screen and (min-width: 600px) {
  :root {
      font-size: 13px;
  }
  .control-grid {
      display: flex;
      flex-direction: column;
  }
  .control5, .control6, .control7, .control8 {
      display: none;
  }
  .menu-container, .music-container {
      min-width: 65vw;
      width: 65svw;
      min-height: 90vh;
      height: 90svh;
  }
  .arrow {
      width: 3rem;
      height: 3rem;
  }
  .top, .bot {
      left: 47.97%;
  }
  .switcher-arrow {
      width: 3.2rem;
      height: 3.2rem;
  }
}

@media only screen and (min-width: 768px) {
  :root {
      font-size: 14px;
  }
  .control-grid {
      display: grid;
      grid-template-areas: 
          "control0 control1"
          "control2 control3"
          "control4 control5";
  }
  .control5 {
      display: grid;
  }
  .control6, .control7, .control8 {
      display: none;
  }
  .menu-container, .music-container {
      min-width: 50vw;
      width: 50svw;
      min-height: 90vh;
      height: 90svh;
  }
  .arrow {
      width: 3rem;
      height: 3rem;
  }
  .top, .bot {
      left: 47.97%;
  }
  .switcher-arrow {
      width: 2.3rem;
      height: 2.3rem;
  }
}

@media only screen and (min-width: 1158px) {
  :root {
      font-size: 15px;
  }
  .control-grid {
      display: grid;
      grid-template-areas: 
          "control0 control1 control2"
          "control3 control4 control5"
          "control6 control7 control8";
  }
  .control5, .control6, .control7, .control8 {
      display: grid;
  }
  .menu-container, .music-container {
      min-width: 30vw;
      width: 30svw;
      min-height: 90vh;
      height: 90svh;
  }
  .arrow {
      width: 3rem;
      height: 3rem;
  }
  .top, .bot {
      left: 47.97%;
  }
  .switcher-arrow {
      width: 2.3rem;
      height: 2.3rem;
  }
}

@media only screen and (min-width: 1303px) {
  :root {
      font-size: 16px;
  }
  .arrow {
      width: 3rem;
      height: 3rem;
  }
  .top, .bot {
      left: 47.97%;
  }
  .switcher-arrow {
      width: 2.3rem;
      height: 2.3rem;
  }
} */

@media only screen and (min-width: 480px) {
  :root {
    font-size: 17px;
  }
  .side-panel {
    width: 75vw;
  }
}

@media only screen and (min-width: 768px) {
  .side-panel {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .side-panel {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
}
